/********************************************************************* CSS VARIABLES *********************************************************************/ 
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mukta:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
  font-family: beast;
  src: url("/beast.ttf");
}
@font-face {
  font-family: glace;
  src: url("/glace.otf");
}

:root {

  --main-bg-color : black;
  --secondary-bg-color : white ;
  --third-color : #FF1616;
  --button-color: #0055FF;
  --box-shadow: #e1e1e1 0px 1px 0px, #e1e1e1 0px 4px 16px, #e1e1e1 0px 8px 16px;
  --font-title : beast, sans-serif;
  --font-text :glace, sans-serif;
  --font-bebas :  'Bebas Neue', cursive;
}


/********************************************************************* BASIC CSS *********************************************************************/ 
.desktop {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-text);
  color: var(--secondary-bg-color);
  overflow-x: hidden;
  line-height: 1.6;
  z-index: 1;
  overflow-x: hidden;
}


h1 {
  font-family: var(--font-title);
  font-size: 4rem;
  text-align: center;
  color: var(--third-color);
  letter-spacing: 4px;
  padding: 0 10px;
  line-height: 1.3;
  margin-bottom: 10px;
}

a {
  color: initial;
  text-decoration: none;
  font-weight: initial;
}

li {
  list-style: none;
}

section {
  padding: 2rem 0;
  max-width: 100%;
}

.no_button {
  background-color: transparent;
  border: none;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.container {
  position: relative;
}

.button_style {
  border: none;
  padding: 0.5rem;
  font-weight: bold;
  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
  font-family: var(--font-bebas);
}

.margin1r0 {
  margin: 1rem 0;
}
.margin0r1r {
  margin: 0 1rem;
}

main {
  max-width: 100vw;
  overflow: hidden !important;
}
/********************************************************************* NAV *********************************************************************/ 

.padding-header {
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  margin: 0;
  border: none;
}


.logo {
  height: 4rem;
  border-radius: 50%;
}
.pilon {
  z-index: 1;
}
.zarlor {
  margin-right: -10px;
}

/********************************************************************* HOME *********************************************************************/ 

.home {
  background-color: var(--main-bg-color);
}
.tache {
  position :absolute;
  width: 40%;
  background-color: transparent;
  top: -3rem;
  right: -3rem;
  transform: rotate(180deg);
}

.top h2 {
  font-weight: 100;
  text-align: center;
  margin: 0px auto 40px;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.top a {
  margin-top: 50px;
}

.top div {
  text-align: center;
}
.griffe {
  height: 200px;
  width: auto;
  object-fit: contain;
  position: absolute;
  background-color: transparent;
  bottom: 0;
  left: 0;
  z-index: 0;

}
.duo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 4rem 0 0;
}

.duo * {
  width: 100%;
}

.duo article {
  padding: 30px 10px;
}

.duo article h3 {
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.duo article p {
  margin-bottom: 15px;
}

.lieux {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem 0;
  margin: 0;
  width: 100%;
}

.lieux iframe {
  margin: 2rem 0;
  width: 100%;
  min-height: 50vh;
}

.lieux article {
  padding: 10px;
}

.categories, .categories * {
  overflow: visible;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 160px 0;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

.categories h2 {
  text-align: left;
  color: var(--third-color);
  margin-bottom: 60px;
}

.categories h3, .categories h4  {
  text-align: center;
  margin-bottom: 10px;
}

.categories h3 {
  font-family: var(--font-title);
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 4px;
}
.categories h4 {
  font-family: var(--font-bebas) ;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 4px;
}

.categories iframe {
  width: 100%;
  min-height: 50vh;
  margin: 40px 0;
}
.categories p {
  margin: 10px 15px;
}
/********************************************************************* Page 1 *********************************************************************/ 



/********************************************************************* FOOTER *********************************************************************/ 

.footer {
  padding: 1rem 2rem;
  align-items: flex-start;
  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
}

.footer * {
  padding: 0.35rem 0;
  background-color: inherit;
  color: inherit;
}

.footer li, .footer a, .footer div {
  padding: 0.15rem 0;
}
.footer-section {
  width: 100%;
}

.footer img {
  width: 3rem;
  margin: 0 0.25rem;
}

.mentions {
  text-align: center;
  width: 100%;
  margin: 2rem 1rem 0;
}

/********************************************************************* MENTIONS *********************************************************************/ 
.mentions-container {
  padding: 1rem 4rem;
}

.mentions-container > * {
  padding: 1rem 0;
}

.mentions-container h2 {
  margin-top: 2rem;
}


/******************************************************************************************************************************************/ 
/********************************************************************* DESKTIOP *********************************************************************/ 
/******************************************************************************************************************************************/ 


@media screen and (min-width: 768px) {

  .mobile {
    display: none;
  }

  .desktop {
    display: initial;
  }

/********************************************************************* NAVBAR *********************************************************************/ 
.navbar {
  padding: 2rem 0;

}

.navbar * {
  padding: 0rem 2rem;
}
  
}